In [4]:
import pandas as pd
import numpy as np

In [5]:

df_orig=pd.read_excel('data_new.xlsx')

In [6]:
df_orig

   rollno Section  Mobile number
0    2013       A     9460502345
1    2014       A     9465656589
2    2015       A     9470810833
3    2016       A     9475965077
4    2017       A     9481119321
5    2018       B     9999999999
6    2019       B     9999999998
7    2020       B     9838248815
8    2013       A     8299174518

In [7]:
df=df_orig.groupby(['Section']).min().reset_index()

In [8]:
df

  Section  rollno  Mobile number
0       A    2013     8299174518
1       B    2018     9838248815

In [9]:
import datetime
def fill_slots(time_slot_size,start_day,start_month,start_year,start_hour,start_min):
    
    slots=[] 
    a = datetime.datetime(start_year,start_month,start_day,start_hour,start_min,0)# YYYY/MMMM/DDDD 
    for i in range(df.shape[0]):
        b = a + datetime.timedelta(0,time_slot_size*60)
        slots.append(str(a.time()) + " to "+ str(b.time())) 
        a=b
    
    df["slots"] = slots 
    df.to_excel("output.xlsx",sheet_name='slotted',index=False)

In [12]:
fill_slots(30,1,12,2019,11,0)

In [13]:
df

  Section  rollno  Mobile number                 slots
0       A    2013     8299174518  11:00:00 to 11:30:00
1       B    2018     9838248815  11:30:00 to 12:00:00

In [14]:
import requests
def send_to_all_running():

  for i in range(df.shape[0]):
    mobilenumber=str(df['Mobile number'][i])
    slot_given=df['slots'][i]
    message_to_be_sent='Your time slot is '+slot_given

    url = "https://www.fast2sms.com/dev/bulk"
    payload = "sender_id=FSTSMS&message="+ message_to_be_sent+"&language=english&route=p&numbers="+mobilenumber
    headers = {
    'authorization': "epQ2RU1GvMirP7DfHNjESyLXx3qYZ4bTco9tgIawds68VBJmKn9S0cifzyoJgl3tLe2WGb8RZNIjMOXB",
    'Content-Type': "application/x-www-form-urlencoded",
    'Cache-Control': "no-cache",
    }
    response = requests.request("POST", url, data=payload, headers=headers)
    print(response.text)

In [15]:
send_to_all_running()

{"return":true,"request_id":"21cimk06yjwxop9","message":["Message sent successfully to NonDND numbers"]}
{"return":true,"request_id":"6m3x9w7v8g0h4nk","message":["Message sent successfully to NonDND numbers"]}